:root {
    --base-color: #294051;
    --background-color: #3c627d;
    --top-gradient: linear-gradient(180deg, rgb(60, 98, 125), rgb(60, 98, 125) 100%);
    --bg-gradient: linear-gradient(180deg, rgb(60, 98, 125), rgb(82, 119, 146) 100%);
    --border-color: #FFB89E;
    --text-color: #FFB89E;

    --text-hover: 0 0 6px var(--text-color);
}


html {
  * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {

    ::selection {
  background-color: var(--text-color); 
  color: var(--background-color);         
}


    background: var(--base-color);
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;

	a {
    color: var(--text-color);
    text-decoration: none;
    }

    .button {
        background-color: var(--background-color);
        font-family: Helvetica, Arial, sans-serif;
        color: var(--text-color);
        text-align: center;
        font-size: 18px;
        border: 2px solid var(--border-color);
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;

        transition: background-color 0.3s, color 0.3s, transform 0.2s;
    }

    .top-row {
        position: sticky;
        top: 0;   
        height: max(60px, 3vh);
        width: 100%;
        left: 0;  
        z-index: 1000;
        
        border-bottom: 2px solid var(--border-color);
        background: var(--background-color);
        background: var(--top-gradient);

      display: flex;
      align-items: center;
      justify-content: space-between;
      
      padding: 0 24px;
      border-radius: 0 0 12px 12px;

      transition: background .2s ease-in-out, transform .7s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .left {
      display: flex;
      align-items: center;
      gap: 12px;

      width: 30%;
    }
	.center {
	flex-direction: column;
    display: flex;
    align-items: center;
    Justify-content: center;
    text-align: center;
    gap: 12px;

      width: 50%;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: flex-end;
        width: 30%;
    }

    .header-text {
        font-family: Helvetica, Arial, sans-serif;
        transform: skewX(0deg); 
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -0.05em;

        transition: text-shadow .2s ease-in-out, transform .7s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .header-text.loaded {
         transform: skewX(-15deg);
    }

    .header-text:hover {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-shadow: 0 0 12px var(--text-color);
    }

     .top-highlight {
        text-decoration: none;
        color: var(--text-color);
        cursor: pointer; 
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 25;
	    margin-left: 5px;
        letter-spacing: .5em;
        opacity: 0;

        transition: transform 0.4s cubic-bezier(0.25, 1.35, 1, 1), text-shadow 0.2s, letter-spacing .15s, opacity .5s;
    }

    .top-highlight:hover {
        /* text-decoration: underline;*/
        cursor: pointer; 
        font-weight: 125;
        letter-spacing: 1.25em;
        right: 0;
        text-shadow: var(--text-hover);
       /* background: linear-gradient(90deg, transparent 20%, #9296a9 60%);*/

        transform: scale(1.025);
    }
    
    .loaded {
         opacity: 1;
    }

    .landing-section {
        height: 93vh;
	    min-height: 90vh;
        width: 100%;
	    position: relative;
	  scroll-snap-align: start;
        
        border-bottom: 2px solid var(--text-color);
        background: var(--background-color);
        
        background: var(--bg-gradient);
        background-repeat: no-repeat;

      display: flex;
      align-items: stretch;
      padding: 0 24px;
      justify-content: center;
      /*border-radius: 0 0 12px 12px;*/
    }
     .content-text {
        color: var(--text-color);
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-weight: 200;
    letter-spacing: .1em;
    }

    .landing-container {
        max-height: 150px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    #landing-text {
        opacity: 0;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        transition: opacity .5s;
    }

    #landing-text.loaded {
        opacity: 1;
    }

    .parallax {
    perspective: 1500px; /* lower is More tilt*/
    width: 600px;
    height: 400px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

     transition: transform 0.25s cubic-bezier(0.25, 1.35, 1, 1), opacity .5s;
    }

    .parallax.visible {
        opacity: 1;
    }

    
    .parallax:hover {
        transform: scale(1.08);

    }

    .parallax img {
      width: 90%;
      height: 90%;
       object-fit: cover;
     border-radius: 6px;
        box-shadow: 0px 0px 12px rgba(255, 255, 255, 0);
       transition: transform 0.05s, box-shadow .01s ease-out opacity 0.2s; 
       transform-style: preserve-3d;
    }


    .content-section {
        height: 93vh;
	    min-height: 90vh;
        width: 100%;
	    position: relative;
	    scroll-snap-align: start;
        
        border-bottom: 2px solid var(--border-color);
        background: var(--background-color);  
        background: var(--bg-gradient);
        background-repeat: no-repeat;
        color: var(--text-color);

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 0 24px;

        /*border-radius: 0 0 12px 12px;*/

        transition: background 0.5s cubic-bezier(0.16, 1, 0.3, 1), color .5s;

    }

    .h1-s2 {
        position: absolute;
        align-self: flex-start;
    }
    .heading-ooo {
        float: left;
        letter-spacing: -.08em;
        font-size: max(200px, 6vw);
        margin: 6vh 0 2vh;
        text-align: left;
        opacity: 0;
        line-height: 0.6em;
        font-weight: 600;


        transition: letter-spacing 0.25s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.25s, color .5s;
    }

    .heading-ooo::first-letter {
        transform: skewY(25deg);
        float: left;
    }

    .heading-ooo.visible {
        
        opacity: 1;
        letter-spacing: -0.05em;
    }

    .p-s2 {
        width: 100%;
        line-height: 0.5em;
        color: var(--text-color);
        gap: 1em;
        font-size: 20px;
        
        position: relative;
        top: 2vh;
        bottom: 6vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .s2-img-container {
        width: 500px;
        height: 600px;

        position: absolute;
        align-self: flex-end;

        margin-bottom: 24px;
        right: 24px;
    }

    
    .s2-img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

}
}
