body { 

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

    .content-section {
	    min-height: 93vh;
        width: 100%;
	    position: relative;
	    scroll-snap-align: start;
        
        border-bottom: 2px solid var(--border-color);
        background: var(--background-color);  
        background: var(--bg-gradient);
        background-repeat: no-repeat;
        color: var(--text-color);

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 24px;
        gap: 12px;

        /*border-radius: 0 0 12px 12px;*/

        transition: background 0.5s cubic-bezier(0.16, 1, 0.3, 1), color .5s;

    }

    .text-container {
        display: flex;
        overflow: hidden;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #workheader {
        font-size: 30rem;
        font-weight: 600;
        letter-spacing: -0.1em;
        overflow: hidden;
        width: 0%;
        transition: width .75s cubic-bezier(0.25, .9, 1, 1);
    }

    #workheader.loaded {
        width: 100%
    }

    .content-text {
        color: var(--text-color);
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	    font-weight: 200;
        letter-spacing: .1em;
        line-height: 0.9em;
        text-align: center;
        margin: 0.2vh;
    }
    
    .header-container {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

     .circle-icon {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid var(--border-color);

        transition: transform 0.2s cubic-bezier(0.25, 1.35, 1, 1), background 0.2s cubic-bezier(0.25, 1.35, 1, 1);
    }

    .hz-scroll {
        height: 200vh;
        width: 100%;
    }
    
    .wrapping-container {
        position: sticky;
        top: 0;
        height: 100vh;
        padding-top: calc(6.543075245365322vh + 23.25vh); 
        overflow: hidden;
    }    

    .grid-container {
    display: flex;
    flex-direction: row;

    height: 500px;
    gap: 12px;
    width: max-content;
    will-change: transform;
    transform: translateX(0);
    
    animation: tr-hz linear both;
    animation-timeline: scroll();
    animation-range: contain 0% contain 100%;

    @keyframes tr-hz {
        from {
            transform: translateX(0);
        } 
        to {
            transform: translateX(calc(-100% + 30vw)); 
        }
    }

    .grid-item {
        overscroll-behavior-y: contain;
        flex: 0 0 auto; 
        aspect-ratio: 1.2;
        overflow: hidden;
        width: 500px;
        height: 50vh;
        border-radius: 12px;
        background-color: var(--background-color);
        border: 2px solid var(--border-color);
        transition: transform 0.2s cubic-bezier(0.25, 1.35, 1, 1), background 0.2s cubic-bezier(0.25, 1.35, 1, 1);
    }

    .grid-item:hover .grid-item-img {
        transform: scale(1.2);
    }


}
}